*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
      height: 100vh;
      display: flex;
     align-items: center;
     flex-direction: column;
     background-color: #f4a460;

}
.title{
  color: white;
}
.start, .stop{
  height: 50px;
  width: 50px;
  background-color: #f4a460;
   box-shadow : 2px 2px 10px #f5caa4, -2px -2px 10px #9d6c41;
   color: white;
   font-family: poppins;
   font-size: 14px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
}
.portfolio_buttons_actions{
  display: flex;
  width: 20%;
  justify-content: space-around;
  margin: auto;
  
}