* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #f4a460;
}
header {
  display: flex;
  width: 100%;
  height: 90px;
}
.menu_container {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu {
  color: white;
}
.portfolio_container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.title {
  color: white;
  font-family: poppins;
  font-size: 16px;
  margin-left: 30px;
}

.animation_title{
  margin-top: 20px;
  font-size: 14px;
  color: white;
  font-weight: 100;
  font-family: poppins;
  width: 80%;
display: flex;
justify-content: center;

}

.start,
.stop, .restart {
  height: 50px;
  width: 50px;
  background-color: #f4a460;
box-shadow: 2px 2px 10px #f5caa4, -2px -2px 10px #9d6c41;
  color: white;
  font-family: poppins;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
}
.animation_buttons_actions {
  display: flex;
  width: 180px;
  justify-content: space-around;
  margin-top: 20px;
}
.container_test {
  height: 300px;
  background-color: blue;
}
.animation {
  width: 90%;
  /* height: 900px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4a460;
  box-shadow: 2px 2px 10px #f5caa4, -2px -2px 10px #9d6c41;
}
.tic_tac_toe {
  margin-top: 30px;
  width: 90%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4a460;
  box-shadow: 2px 2px 10px #f5caa4, -2px -2px 10px #9d6c41;
}
