* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(to left, #f5d1b3, 45%, #f4b783);
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
}
.nav {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
  margin-left: 30px;
  visibility: hidden;
}
.nav_visible {
  visibility: visible;
}

.a {
  visibility: hidden;
  color:  #ffffff;
  text-decoration: none;
  font-family: poppins;
  font-size: 18px;
  text-shadow: 2px 2px 10px #f5caa4, -2px -2px 10px #9d6c41;
  word-spacing: 3px;
}
.a_visible {
  visibility: visible;
}
.menu_container {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  align-content: center;
}
.menu {
  color: white;
  margin-top: 10px;
}

.portfolio_container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.title {
  color: white;
  font-family: poppins;
  font-size: 45px;
  margin-left: 30px;
  margin-top: 10px;
}

.animation_title {
  margin-top: 20px;
  font-size: 18px;
  color: white;
  font-weight: 100;
  font-family: poppins;
  width: 80%;
  display: flex;
  justify-content: center;
  /* text-shadow: 2px 2px 10px #f6c89f, -1px -1px 7px #9d6c41; */
}

.start,
.stop,
.restart {
  height: 50px;
  width: 50px;
  background-color: #f4a460;
  box-shadow: 2px 2px 10px #f5caa4, -2px -2px 10px #9d6c41;
  color: white;
  font-family: poppins;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
}
.animation_buttons_actions {
  display: flex;
  width: 180px;
  justify-content: space-around;
  margin-top: 20px;
}
.container_test {
  height: 300px;
  background-color: blue;
}
.animation {
  width: 90%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: #f4a460;
  box-shadow: 2px 2px 10px #f5caa4, -2px -2px 10px #9d6c41; */ */
}
.tic_tac_toe {
  margin-top: 100px;
  width: 90%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #f4a460;
  box-shadow: 2px 2px 10px #f5caa4, -2px -2px 10px #9d6c41; */
}
.calculatrice {
  margin-top: 100px;
  width: 90%;
  height: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* /* background-color: #f4a460; */
  /* box-shadow: 2px 2px 10px #f5caa4, -2px -2px 10px #9d6c41; */
}

.change_color_calculator {
  margin-top: 40px;
  height: 100px;
  width: 100px;
  background-color: #f4a460;
  box-shadow: 2px 2px 10px #f5caa4, -2px -2px 10px #9d6c41;
  color: white;
  font-family: poppins;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}
.line{
  margin-top: 100px;
  width: 200px;
  height: 10px;
    background-color: #f4a460;
  box-shadow: 2px 2px 10px #f5caa4, -2px -2px 10px #9d6c41;

}
/* .calculator_buttons_actions {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
} */
