* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  cursor: none;
  /* background-color: rgb(111, 47, 47); */
  background-color: rgb(16, 16, 173) !important;
  height: 100vh;
}

/* CURSEUR PERSONNALISÉ..................................... */

.cursor {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: none;
  border: solid 3px white;
  position: absolute;
  background-color: transparent;
  pointer-events: none;
}
.cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.cursor_animation {
  animation: rotation 0.3s;
}
@keyframes rotation {
  0% {
    border: solid 3px white;
    transform: rotate(0deg);
    transform: scale(1);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  50% {
    border: dashed 2px white;
    transform: rotate(180deg);
    transform: scale(2);
    box-shadow: 0px 0px 20px rgb(255, 255, 255), 0px 0px 40px rgb(255, 255, 255), 0px 0px 60px rgb(255, 255, 255), 0px 0px 80px rgb(255, 255, 255), 0px 0px 100px rgb(255, 255, 255);
  }
  100% {
    border: solid 3px white;
    transform: rotate(0deg);
    transform: scale(1);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
}

/* HEADER.............................. */

.header {
  display: flex;
}
.header_titles{
display: flex;
flex-direction: column;
width: 100%;
}
.header_title {
  font-family: lato;
  font-size: 90px;
  margin-left: 60px;
  margin-top: 30px;
  letter-spacing: -8px;
  font-weight: 400;
}
/* .header_title span:nth-child(3){
  color: #07ffee;
}
.header_title span:nth-child(5){
  color: #07ffee;
}
.header_title span:nth-child(8){
   color: #07ffee;
} */
.header_title span {
  transition: color 0.1s;
}
.header_title span:hover {
  color: white;
}

.header_name {
  color: white;
  font-size: 18px;
  font-family: lato;
  font-weight: 100;
  letter-spacing: 15px;
  text-transform: lowercase;
  margin-left: 65px;
  margin-top: -20px;
}
.header_name span {
  transition: color 0.4s;
}
.header_name span:hover {
  color: rgb(2, 2, 38);
  font-size: 16;
}
.header_name span:nth-child(1) {
   text-transform: uppercase;
}
.header_name span:nth-child(8) {
   text-transform: uppercase;
}
.header_name span:nth-child(7) {
  margin-right: 20px;
}


/* TECHNOS...................... */

.technos {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  margin-left: 50px;
  transition: 0.6s ease-in-out;
}
.logos:hover {
  animation: bounce 0.2s ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
    transform: translateX(0px);
  }
  30% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.logos:nth-child(1) {
  height: 20%;
}
.logos:nth-child(2) {
  height: 17%;
}
.logos:nth-child(3) {
  height: 28%;
}
.logos:nth-child(4) {
  height: 20%;
}
.logos:nth-child(5) {
  height: 26%;
}
.logos:nth-child(6) {
  height: 26%;
}

/* MAIN ...................... */

.main {
  display: flex;
  height: 100%;
}

/* ABOUT...................... */

.aboutAndNav {
  display: flex;
  margin-left: 100px;
  width: 100%;
}

.about_h2 {
  margin-top: 40px;
  font-size: 40px;
  font-family: lato;
  color: #119e94;
  font-weight: 300;
  text-transform: lowercase;
  writing-mode: vertical-lr;
}
.about_h2 span:nth-child(6) {
  text-transform: uppercase;
}
.about_h2 span:nth-child(1) {
  text-transform: uppercase;
}
.about_h2 span {
  transition: color 0.1s;
}
.about_h2 span:hover {
  color: black;
}

/* NAV...................... */

.line{
  margin-top: 50px;
  width: 5px;
  height: 200px;
  background-color: white;
  box-shadow: 1px 1px 3px black inset;

}
.about_h3 {
  width: 70%;
  font-size: 14px;
  font-family: lato;
  line-height: 34px;
  font-weight: 300;
  color: #07ffee;
  text-align: left;
  margin-top: 40px;
  margin-left: 20px;
  transition: 1s ease-in-out;
}
.about_h3:hover {
 padding: 10px;
 background-color: rgb(2, 2, 62);
 color:rgb(251, 251, 251);
 filter: blur(0px);
 box-shadow: 2px 2px 4px rgb(8, 8, 8); 
 border-radius: 4px;
 height: 250px;
}
.container_nav {
  display: flex;
}
/* .window_nav {
  margin-top: 20px;
  margin-right: 30px; 
  height: 150px;
  width: 90px;
  border-radius: 5%;
  overflow: hidden;
  background: white;
  box-shadow: inset -3px 4px 4px rgb(2, 2, 40), inset 3px 2px 4px rgb(4, 4, 39);
  display: flex;
  align-items: center;
  justify-content: center;
} */
.nav {
  margin-top: 10px;
   margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.9s ease-out;
  height: 100px;

}
.nav_a {
  color: rgb(245, 241, 241);
  text-decoration: none;
  font-family: poppins;
  font-size: 13px;
  text-align: left;
  transition: 0.2s ease-in-out;
  /* text-shadow: 0px 0px 20px white, 0px 0px 40px white, 0px 0px 60px white; */
}
.nav_a:hover {
  color: rgb(251, 251, 251);
  text-decoration: none;
  font-family: lato;
  text-align: justify;
  transform: scale(1.1);
  transform: translateX(5px);
}
.container_navButtons {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.down,
.up {
  transition: 0.2s ease-in-out;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 40px;
  text-shadow: 0px 0px 70px rgb(255, 255, 255), 0px 0px 40px rgb(255, 255, 255), 0px 0px 60px rgb(255, 255, 255), 0px 0px 80px rgb(255, 255, 255), 0px 0px 100px rgb(255, 255, 255);
}
.down:hover,
.up:hover {
  cursor: none;
}
