* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body,
html {
  cursor: none;
  background-color: #1d1d1d !important;
  height: 100vh;
}

/* CURSEUR PERSONNALISÉ..................................... */

.cursor {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: none;
  border: solid 2px #7c7a97;
  position: absolute;
  background-color: transparent;
  pointer-events: none;
  z-index: 1;
}
.cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.cursor_animation {
  animation: rotation 0.3s;
}
@keyframes rotation {
  0% {
    border: solid 3px white;
    transform: rotate(0deg);
    transform: scale(1);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  50% {
    border: dashed 2px white;
    transform: rotate(180deg);
    transform: scale(2);
    box-shadow: 0px 0px 20px rgb(255, 255, 255), 0px 0px 40px rgb(255, 255, 255), 0px 0px 60px rgb(255, 255, 255), 0px 0px 80px rgb(255, 255, 255), 0px 0px 100px rgb(255, 255, 255);
  }
  100% {
    border: solid 3px white;
    transform: rotate(0deg);
    transform: scale(1);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
}

/* MAIN ...................... */

.main {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 40% 60%;
  height: 100vh;
  position: relative;
}

/* HEADER.............................. */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

 .avion {
  height: 30px;
  width: 40px;
  margin-top: 30px;
} 
/* @keyframes looping {
  0% {
    transform: translateX(0) translateY(0);
  }
  20% {
     transform: translateX(20px) translateY(-5px) rotate(5deg);
  }
  50% {
     transform: translateX(60vw) translateY(-5vh) rotate(-5deg);
  }
 
  100% {
    transform: translateX(100vw) translateY(50%);
  }
} */
.header_titles {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 30px;
  justify-content: space-around;
}
.header_title {
  font-family: oswald;
  font-size: clamp(20px, 5vw, 30px);
  font-weight: 100;
  color: #ffffff;
  /* background-clip: text;
  -webkit-background-clip: text;
 background-image: linear-gradient(to top, #f5af19,white);
  color: transparent; */
}

.header_name {
  color: white;
  font-size: clamp(12px, 3vw, 55px);
  font-family: lato;
  font-weight: 300;
}

.container_developper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.developper {
  font-family: poppins;
  color: #7e7f9f;
  font-weight: 100;
  transition: 0.2s ease-in-out;
  font-size: clamp(14px, 1vw, 20px);
  margin-top: -5px;
}
.developper:hover {
  color: #cdb8b8;
}
.technos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: clamp(18px, 5vw, 28px);
  align-items: center;
  z-index: 0;
  gap: 10px;
  margin-left: -10px;
}

.logos:hover {
  animation: bounce 0.5s ease-in-out;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}
.logos:nth-child(1) {
  height: 65%;
}
.logos:nth-child(2) {
  height: 60%;
}
.logos:nth-child(3) {
  height: 83%;
}
.logos:nth-child(4) {
  height: 60%;
}
.logos:nth-child(5) {
  height: 66%;
}
.logos:nth-child(6) {
  height: 66%;
}

/* NAV......................................................... */

.wrapper_nav {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-right: -25px;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.9s ease-out;
  height: 100%;
  margin-top: 20px;
  align-items: right;
}
.nav_a {
  cursor: none;
  color: #f1f0eb;
  text-decoration: none;
  font-family: lato;
  font-weight: 400;
  font-size: clamp(14px, 1vw, 25px);
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  transform: scale(1) translateX(0px);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background: linear-gradient(to right, transparent, 40%, #373737);
}
.nav_a:hover {
  color: rgb(251, 251, 251);
  text-decoration: none;
  font-family: lato;
  font-weight: 900;
  transform: scale(1.1) translateX(2px);
  background: linear-gradient(to right, transparent, 40%, #1e1e38, transparent);
}
.container_navButtons {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.down,
.up {
  transition: 0.2s ease-in-out;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 40px;
  text-shadow: 0px 0px 70px rgb(255, 255, 255), 0px 0px 40px rgb(255, 255, 255), 0px 0px 60px rgb(255, 255, 255), 0px 0px 80px rgb(255, 255, 255), 0px 0px 100px rgb(255, 255, 255);
}
.down:hover,
.up:hover {
  cursor: none;
}

/* ABOUT..................................................... */
.about {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 50px;
}
.container_about {
  margin-top: 30px;
}
.wrapper_h2_logos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about_h2 {
  font-weight: bold;
  font-size: clamp(18px, 5vw, 22px);
  font-family: lato;
  /* color: rgb(182, 94, 249); */
  font-weight: 300;
  transform: scale(1);
  transition: 0.4s ease-in-out;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #05024d, 20%, rgb(188, 186, 186));
  color: transparent;
}

.contact_logo {
  color: #6a6a7b;
  transition: 0.1s ease-in-out;
  text-shadow: none;
  transform: scale(1);
  z-index: 0;
  font-size: clamp(10px, 3vw, 20px);
}
.contact_logo:hover {
  color: #6a6a7b;
  /* text-shadow: 0px 0px 1px white; */
  transform: scale(1.2);
}

.about_h3 {
  margin-top: 20px;
  width: 90%;
  /* font-size: 12px; */
  font-size: clamp(12px, 1vw, 14px);
  font-family: poppins;
  line-height: 25px;
  font-weight: 100;
  color: rgb(210, 210, 210);
  text-align: left;
  transition: 1s ease-in-out;
  
}
.container_nav {
  display: flex;
}

/* FOOTER.......................................... */

.footer {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* MEDIAQUERIES.................................................................. */

/* @media screen and (max-width: 695px) {
 .wrapper_nav {
  margin-right: -10px;
}
}
  */
