* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  cursor: none;
  height: 100vh;
  background-color: blue !important;
}
.cursor {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: none;
  border: solid 3px white;
  position: absolute;
  background-color: transparent;
  pointer-events: none;
}
.cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.cursor_animation {
  animation: rotation 0.3s;
}
@keyframes rotation {
  0% {
    border: solid 3px white;
    transform: rotate(0deg);
    transform: scale(1);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  50% {
    border: dashed 3px white;
    transform: rotate(180deg);
    transform: scale(1.5);
    box-shadow: 0px 0px 20px rgb(255, 255, 255), 0px 0px 40px rgb(255, 255, 255);
  }
  100% {
    border: solid 3px white;
    transform: rotate(0deg);
    transform: scale(1);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
}

.titles_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* background-color: rgb(255, 111, 0); */
}

.home_title {
  font-size: 75px;
  font-family: oswald;
  letter-spacing: -10px;
  margin-left: 20px;
}
.home_title span {
  transition: color 0.1s;
}
.home_title span:hover {
  color: white;
}

.home_name {
  font-size: 35px;
  font-family: oswald;
  letter-spacing: 32px;
  margin-left: 22px;
  letter-spacing: 10px;
  font-weight: 200;
}
.home_name span {
  transition: color 0.1s;
}
.home_name span:hover {
  color: white;
}
.home_name span:nth-child(7) {
  margin-right: 20px;
}

.home_bienvenue_nav {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  grid-template-areas: "home_about home_menu";
  width: 100%;
}
.home_about {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 25px;
}
.home_about h2 {
  font-weight: 100;
  font-size: 30px;
  font-family: lato;
  letter-spacing: 25px;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  font-weight: 200;
}
.home_about h3 {
  font-size: 14px;
  /* margin-top: 20px; */
  font-weight: 400;
  text-align: justify;
  font-family: lato;
  width: 350px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}

.home_menu {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 140px;
  width: 100px;
}
.home_menuTitle {
  color: white;
  font-family: poppins;
  font-size: 24px;
  letter-spacing: 10px;
  font-weight: 400;
}
.home_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: white;
  box-shadow: inset -3px 4px 4px rgb(2, 2, 40), inset 3px 2px 4px rgb(4, 4, 39);
}
.home_a {
  color: blue;
  text-decoration: none;
  font-family: lato;
  font-size: 14px;
  text-align: left;
  transition: 0.2s ease-in-out;
}
.home_a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: lato;
  font-size: 16px;
  text-align: justify;
  transform: scale(1.1);
  transform: translateX(5px);
}

.carousel-img {
  max-width: 50%;
  height: auto;
  margin: auto;
}
.carousel-custom {
  max-width: 400px;
  height: auto;
  margin-top: 60px;
  margin-left: 40px;
}

.electric_line {
  position: absolute;
  top: 175px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px rgb(129, 128, 128);
}
.spark {
  position: absolute;
  top: 152px;
  left: -30px;
  color: rgb(255, 255, 255);
  transform: rotate(-90deg);
  height: 70px;
}
.spark2 {
  position: absolute;
  top: 155px;
  left: -42px;
  color: rgb(255, 255, 255);
  transform: rotate(-90deg);
  height: 50px;
}

.projects {
  background-color: rgb(9, 8, 8);
  background-size: cover;
  height: 150px;
  width: 150px;
  /* opacity: 0.5; */
  transition: opacity 0.7s ease-in-out;
  color: white;
  font-family: oswald;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects:hover {
  opacity: 1;
}
.projects_grid {
  gap: 2px;
  margin-top: 30px;
  display: grid;
  height: 600px;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "projects, projects, projects, projects, projects", "projects, projects, projects, projects, projects" "projects, projects, projects, projects, projects";
}
.container_projects_grid {
  display: flex;
  justify-content: center;
}

.container_bubbles {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.bubble {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: orange;
}
