body {
  background: linear-gradient(to right, #f3ccd9, #af2c70, #ea97c5);
}
.tic_tac_toe {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  align-content: center;
}
.animation_title {
  font-family: poppins;
  font-size: 50px;
  font-weight: 300;
  /* color: rgb(231, 210, 219); */
  color: transparent;
  text-shadow: 1px 1px 5px rgb(59, 58, 59);
  letter-spacing: -8px;
  margin-bottom: 40px;
background-clip: text;
-webkit-background-clip: text;
background-image: linear-gradient(pink, white);
}
/* .animation_title span {
  display: inline-block;
}
.animation_title span:nth-child(1) {
  transform: rotate(-3deg) scale(1.5);

}
.animation_title span:nth-child(2) {
  transform: rotate(3deg) scale(1.1);
}
.animation_title span:nth-child(3){
  transform: rotate(5deg) scale(1.1);
}
.animation_title span:nth-child(4){
   transform: rotate(-7deg) scale(1.6);
}
.animation_title span:nth-child(5){
    transform: rotate(-2deg) scale(1.4);
}
.animation_title span:nth-child(6){
    transform: rotate(2deg) scale(1.2);
}
.animation_title span:nth-child(7){
     transform: rotate(5deg) scale(1.6);
}
.animation_title span:nth-child(8){
    transform: rotate(7deg) scale(1.1);
}
.animation_title span:nth-child(9){
    transform: rotate(1deg) scale(1.3);
} */

.container {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 330px;
  gap: 0px;
  background: linear-gradient(to right, #4c736e, 10%, white);
  height: 350px;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 8px #343434;
  /* position: relative; */
}

.container_cells {
  visibility: hidden;
  height: 200px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  /* background: radial-gradient(circle at 80%, rgb(245, 240, 240), rgb(2, 15, 35)); */
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 40px;
  padding: 20px;
}

.cell {
  border-radius: 5px;
  font-family: neucha;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  box-shadow: inset -5px 0px 7px white, inset 1px 1px 3px rgb(11, 11, 11), 0px 1px 1px rgb(173, 173, 173), 0px 0px 5px rgb(142, 142, 142) ;
  font-size: 34px;
  transition: opacity 0.7s ease-in;
  color: white;
}

.blue {
  background: radial-gradient(rgb(133, 130, 207), rgb(39, 32, 166));
  box-shadow: 1px 1px 4px rgb(3, 1, 24) inset;
}
.red {
  background: radial-gradient(rgb(230, 139, 139), rgb(137, 17, 17));

  box-shadow: 1px 1px 4px rgb(0, 0, 0) inset;
}

.buttons {
  border-radius: 5px;
  font-family: poppins;
  font-weight: 300;
  height: 60px;
  width: 78px;
  background-color: transparent;
  font-size: 14px;
  color:#BF7EBD;
  text-shadow: 0px 0px 10px rgb(159, 203, 240), 
  0px 0px 40px rgb(151, 197, 235),
   0px 0px 80px rgb(206, 228, 246),
    0px 0px 100px rgb(199, 223, 244),
    inset black 1px 1px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  visibility: hidden;
  /* border: 1px blue solid; */
  /* box-shadow: 0px 0px 1px rgb(149, 201, 243), 0px 0px 2px rgb(149, 201, 243); */
}

.container_buttons {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  visibility: hidden;
}

.scoreBlue {
  font-size: 15px;
  color: rgb(67, 72, 5);
  text-shadow: 0px 0px 10px rgb(240, 244, 247), 0px 0px 40px rgb(243, 245, 247), 0px 0px 80px rgb(230, 239, 246), 0px 0px 100px rgb(248, 250, 251);
  border: solid grey 1px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px white;
}
.scoreRed {
  box-shadow: 0px 0px 5px white;
  font-size: 15px;
  color: rgb(67, 72, 5);
  text-shadow: 0px 0px 20px rgb(237, 103, 103), 0px 0px 40px rgb(237, 103, 103), 0px 0px 80px rgb(237, 103, 103), 0px 0px 100px rgb(237, 103, 103);
  border: solid grey 1px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_score {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4px;
  visibility: hidden;
}

.hidden_reload {
  visibility: visible;
}

.technology{
  color: white;
  font-family: lato;
  font-weight: 200;
  margin-top: -30px;
}
#power{
  transform: scale(1);
  transition: .100s ease-in-out;
  color: pink;
}
#power:hover{
  transform: scale(0.9);
}









/* .test{
  height: 300px;
}
.cube{
  width: 100px;
  height: 100px;
  background-color: blue;
}

.trigger{
  height: 100px;
  width: 100px;
  background-color:red;
}

.recule{
  translate:235px;
  background-color: red;
} */
