body {
  background: linear-gradient(to left, #f3ccd9, #9f4e78);
}
.tic_tac_toe {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
}
.container_title {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  align-items: center;
}
.home {
  color: white;
}
.change_color_calculator {
  transform: scale(1);
  transition: 0.14s ease-in;
}
.change_color_calculator:hover {
  transform: scale(1.2);
}
.animation_title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: poppins;
  font-size: 60px;
  font-weight: 300;
  color: transparent;
  background-clip: text;
  -webkit-text-stroke: 1px rgb(81, 81, 81);
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, transparent 50%, pink 50%);
  transition: background-position ease-out 0.9s;
  background-size: 1% 200%;
}
.animation_title:hover {
  background-position: 0-100%;
}

.container {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 330px;
  gap: 0px;
  background: linear-gradient(to right, #4c736e, 10%, white);
  height: 350px;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 8px #343434;
  /* position: relative; */
}

.container_cells {
  visibility: hidden;
  height: 200px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  /* background: radial-gradient(circle at 80%, rgb(245, 240, 240), rgb(2, 15, 35)); */
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 40px;
  padding: 20px;
}

.cell {
  border-radius: 5px;
  font-family: neucha;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  box-shadow: inset -5px 0px 7px white, inset 1px 1px 3px rgb(11, 11, 11), 0px 1px 1px rgb(173, 173, 173), 0px 0px 5px rgb(142, 142, 142);
  font-size: 34px;
  transition: opacity 0.7s ease-in;
  color: white;
  transform: scale(1);
  transition: 0.1s ease;
}

.blue {
  background: radial-gradient(rgb(133, 130, 207), rgb(39, 32, 166));
  box-shadow: 1px 1px 4px rgb(3, 1, 24) inset;
}
.red {
  background: radial-gradient(rgb(230, 139, 139), rgb(137, 17, 17));

  box-shadow: 1px 1px 4px rgb(0, 0, 0) inset;
}

.buttons {
  border-radius: 5px;
  font-family: oswald;
  font-weight: bold;
  text-align: left;
  height: 60px;
  width: 78px;
  background-color: transparent;
  font-size: 17px;
  color: #6d066a;
  text-shadow: 0px 0px 10px rgb(159, 203, 240), 0px 0px 40px rgb(151, 197, 235), 0px 0px 80px rgb(206, 228, 246), 0px 0px 100px rgb(199, 223, 244), inset black 1px 1px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  visibility: hidden;
  /* border: 1px blue solid; */
  /* box-shadow: 0px 0px 1px rgb(149, 201, 243), 0px 0px 2px rgb(149, 201, 243); */
}

.container_buttons {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  visibility: hidden;
}

.scoreBlue {
  font-size: 15px;
  color: rgb(11, 11, 177);
  text-shadow: 0px 0px 10px rgb(240, 244, 247), 0px 0px 40px rgb(243, 245, 247), 0px 0px 80px rgb(230, 239, 246), 0px 0px 100px rgb(248, 250, 251);
  border: solid grey 1px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px white;
}
.scoreRed {
  box-shadow: 0px 0px 5px white;
  font-size: 15px;
  color: rgb(116, 5, 5);
  text-shadow: 0px 0px 20px rgb(237, 103, 103), 0px 0px 40px rgb(237, 103, 103), 0px 0px 80px rgb(237, 103, 103), 0px 0px 100px rgb(237, 103, 103);
  border: solid grey 1px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_score {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4px;
  visibility: hidden;
}

.hidden_reload {
  visibility: visible;
}

.technology {
  color: white;
  font-family: lato;
  font-weight: 200;
  margin-top: -30px;
}
#power {
  transform: scale(1);
  color: rgb(0, 0, 0);
  font-size: 60px;
}

/* ======================================================================================================================================== */

@media screen and (min-width: 768px) {
  .container {
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 630px;
    height: 550px;
    gap: 0px;
    background: linear-gradient(to right, #4c736e, 10%, white);

    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #343434;
    /* position: relative; */
  }
  .container_cells {
    visibility: hidden;
    height: 400px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* background: radial-gradient(circle at 80%, rgb(245, 240, 240), rgb(2, 15, 35)); */
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 40px;
    padding: 20px;
  }
  .cell {
    border-radius: 5px;
    font-family: neucha;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    /* box-shadow: inset -2px 0px 7px white, inset 1px 1px 3px rgb(11, 11, 11), 0px 1px 1px rgb(173, 173, 173), 0px 0px 5px rgb(142, 142, 142); */
    transition: opacity 0.7s ease-in;
    transform: scale(1);
    transition: 0.1s ease;
  }
  .container_buttons {
  width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  visibility: hidden;
}
.buttons{
  width: 100px;
}
}
