body{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
.home{
    margin-top: 10px;
 border: none;
 background-color: transparent;
   color: white;
    text-shadow: 0px 0px 6px white;
    transform: scale(1);
    transition: .100s ease-in-out;
    margin-bottom: 40px;
    border: solid white 1px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0px 0px 6px white;
    transform: scale(1);
    margin-left: 220px;
}
.home:hover{
  transform: scale(1.2);
}
.animation_title{
  color: white;
  font-family: chivo mono ;
  text-shadow: 0px 0px 20px white;
  letter-spacing: -1px;
 font-weight: 900;
 margin-bottom: 30px;
font-size: clamp(14px, 5vw, 22px);
}
.calculatrice{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.change_color_calculator{
  margin-top: 14px;
 border: none;
 background-color: transparent;
   color: white;
    text-shadow: 0px 0px 6px white;
    transform: scale(1);
    transition: .100s ease-in-out;
}
.change_color_calculator:hover{
transform: scale(1.2);
}
#calculator_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 330px;
  margin-top: 40px;
  border-radius: 20px;
  pointer-events: none;
  transition: linear-gradient 1s ease-in-out;
}

#ecran {
  position: absolute;
  left: 19px;
  top: 15px;
  z-index: 2;
  height: 80px;
  width: 80%;
  background: linear-gradient(rgb(40, 39, 39), rgb(31, 39, 145));
  box-shadow: 1px 1px 2px 1px black;
  /* text-shadow: 0px 0px 20px white, 0px 0px 40px white; */
  color: rgb(238, 250, 5);
  font-size: 15px;
  text-align: right;
  font-family: oswald;
  text-shadow: 1px 1px 2px black;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  font-weight: 100;
}

#container_calculatrice {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 100px;
  text-align: center;
  z-index: 1;
}

#boutons {
  margin-top: 0px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat (5, 1fr);
  grid-template-rows: repeat (4, 1fr);
  grid-template-areas:
    "ecran ecran ecran ecran"
    "container container container container"
    "container2container2 container2 container2 "
    "container3 container3 container3 container3"
    "container4 container4 container4 container4"
    "container5 container5 container5 container5";
  grid-gap: 6px;
}

.bouton {
  pointer-events: auto;
  color: white;
  gap: 10px;
  height: 30px;
  width: 40px;
  background: linear-gradient(black, grey);
  box-shadow: 1px 1px 2px 1px black;
  font-family: chivo mono;
  font-size: 9px;
  transform: scale(1);
  transition: .100s ease-in-out;
  text-shadow: 0px 0px 100px white;
}
.bouton:hover {
  pointer-events: auto;
  border: solid 2px red;
  color: white;
  gap: 10px;
  background: linear-gradient(red, grey);
  box-shadow: 1px 1px 5px 1px black;
    transform: scale(0.9);
    text-shadow: 0px 0px 100px white;
}

#egal {
  pointer-events: auto;
  color: white;
  gap: 10px;
 height: 30px;
  width: 40px;
  background: linear-gradient(black, grey);
  box-shadow: 1px 1px 5px 1px black;
 font-family: chivo mono;
  font-size: 9px;
}

#egal:hover {
  background: linear-gradient(rgb(53, 53, 184), grey);
}

#initialize {
  pointer-events: auto;
  color: white;
  gap: 10px;
 height: 40px;
  width: 100px;
  background: linear-gradient(black, grey);
  box-shadow: 1px 1px 5px 1px black;
   font-family: chivo mono;
  font-size: 9px;
  margin-top: 5px;
    width: 100%;
}

#initialize:hover {
  background: linear-gradient(yellow, grey);
  color: black;

}

#preresultat {
  color: white;
  gap: 10px;
  height: 70px;
  width: 70px;
  background: linear-gradient(black, grey);
  box-shadow: 1px 1px 5px 1px black;
  font-family: orbitron;
}
.technology{
  margin-top: 10px;
  font-size: 7px;
  font-family: chivo mono;
  color: white;
  text-shadow: 0px 0px 10px;
}
