

#tout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 600px;
  margin-top: 0px;
}

/* #CYB {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 50px;
  border-radius: 5px 10px 15px 20px;
  border: grey solid 1px;
  box-shadow: 1px 1px 2px 1px grey;
  margin-top: 96px;
  margin-left: 70px;
  width: 200px;
  font-family: quicksand;
}

#backBody {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 50px;
  border-radius: 5px 10px 15px 20px;
  border: grey solid 1px;
  box-shadow: 1px 1px 2px 1px grey;
  margin-top: 196px;
  margin-left: 70px;
  width: 200px;
  font-family: quicksand;
} */

#image1{
  grid-column: 1/4;
  grid-row: 1/4; 
  z-index:-1;
  font-size: 90px;
  color: blue; 
}


#ecran {
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 2;
  margin: auto;
  margin-top: 19px;
  height: 80px;
  width: 290px;
  background: linear-gradient(rgb(40, 39, 39), rgb(31, 39, 145));
  box-shadow: 1px 1px 2px 1px black;
  color: rgb(238, 250, 5);
  font-size: 30px;
  text-align: right;
  font-family: quicksand;
  text-shadow: 1px 1px 2px black;
  overflow: hidden;
}

#background {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: grey;
  box-shadow: 1px 1px 2px 1px black;
  margin: auto;
  margin-top: 0px;
  z-index: 0;
  width: 320px;
  height: 500px;
}

#calculatrice {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 100px;
  text-align: center;
  z-index: 1;
}

#boutons {
  margin-top: 0px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat (5, 1fr);
  grid-template-rows: repeat (4, 1fr);
  grid-template-areas:
    "ecran ecran ecran ecran"
    "container container container container"
    "container2container2 container2 container2 "
    "container3 container3 container3 container3"
    "container4 container4 container4 container4"
    "container5 container5 container5 container5";
  grid-gap: 6px;
}

.bouton {
  color: white;
  gap: 10px;
  height: 70px;
  width: 70px;
  background: linear-gradient(black, grey);
  box-shadow: 1px 1px 2px 1px black;
  font-family: arial;
  font-size: 15px;
}
.bouton:hover {
  border: solid 2px red;
  color: white;
  gap: 10px;
  background: linear-gradient(red, grey);
  box-shadow: 1px 1px 5px 1px black;
}

#egal {
  color: white;
  gap: 10px;
  height: 70px;
  width: 70px;
  background: linear-gradient(black, grey);
  box-shadow: 1px 1px 5px 1px black;
  font-family: orbitron;
}

#egal:hover {
  background: linear-gradient(rgb(53, 53, 184), grey);
}

#reload {
  color: white;
  gap: 10px;
  height: 70px;
  width: 70px;
  background: linear-gradient(black, grey);
  box-shadow: 1px 1px 5px 1px black;
  font-family: orbitron;
}

#reload:hover {
  background: linear-gradient(yellow, grey);
  color: black;
}

#preresultat {
  color: white;
  gap: 10px;
  height: 70px;
  width: 70px;
  background: linear-gradient(black, grey);
  box-shadow: 1px 1px 5px 1px black;
  font-family: orbitron;
}


